<ul class="menu">
</ul>

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to "Blitzgift", root_path, class:"brand" %>
			<div class="nav-collapse collapse">
				<ul class="nav ">
					<% if user_signed_in? %>
						<li><%= link_to 'My Account', '/myaccount' %></li>
					<% end %>
				</ul>

				<ul class="nav pull-right">
					<% if user_signed_in? %>
						<li><%= link_to 'Logout', destroy_user_session_path %></li>
					<% else %>
						<li><%= link_to 'Login', new_user_session_path %></li>
						<li><%= link_to 'Register', new_user_registration_path %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
