
<%=  simple_form_for([:admin, @supplier], :html => {:id => 'supplier_form' }) do |f| %>
  <% if @supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>
      <ul>
      <% @supplier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="form-horizontal"> 
		<div class="inner-well">

			<div class="control-group">
				<label class="control-label" >*Name</label>
				<div class="controls">
					<%= f.input_field :name, placeholder:"Supplier name" %>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" >*Contact Info</label>
				<div class="controls">
          <%= f.input_field :contact_info, placeholder:'Contact Info', rows: '6', style: 'width: 80%;' %>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" >*Active</label>
				<div class="controls">
					<%= f.check_box :active %>
				</div>
			</div>

			<div class="actions">
				<%= f.submit "Save", class:"btn btn-primary" %>
				<%= link_to 'back', admin_suppliers_path, class:"btn" %>
			</div>

		</div>
	</div>

<% end %>
