
<div class="span7" id="reset-left" >
	<h4 class="span3" id="reset-left" >Listing suppliers</h4>
	<div class="pull-right">
		<% if @show_to_admin_only %>
			<%= link_to '+ add new supplier', new_admin_supplier_path, class: "btn reset-top-button btn-primary btn-mini " %>
		<% end %>
	</div>
</div>

<table class="table table-striped table-condensed " id="supplier">
  <tr>
    <th>Name</th>
    <th>Contact info</th>
    <th>Active</th>
    <th>Options</th>
  </tr>

<% @suppliers.each do |supplier| %>
  <tr>
    <td><%= supplier.name %></td>
    <td><%= supplier.contact_info %></td>
    <td><%= supplier.active %></td>
		<td>
			<%= link_to 'show', [:admin, supplier], class: "btn btn-mini" %>
      <%= link_to 'edit', edit_admin_supplier_path(supplier), class: "btn btn-mini" %></td>
  </tr>
<% end %>
</table>

<br />

