<!DOCTYPE html>
<html>
<head>
  <title>BlitzGift - the Ultimate Gifting Concierge</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body data-target=".bs-docs-sidebar" data-spy="scroll" data-twttr-rendered="true">


<!-- start top menu -->
  <%= render partial: 'shared/menu' %>
<!-- end start top menu -->


<% flash.each do |key, value| %>
  <div class="<%= key == :notice ? "success" : "error" %>">
    <%= value %>
  </div>
<% end %>

<div class="container push-top">
	<div class="row">
		<div class="span12">
			<div class="span12">
				<%= yield %>
			</div>
		</div>
		</div>
</div>

</body>
</html>
